body {
	background: url("assets/background.jpg");
	background-size: auto;
	background-position: top;
	background-color: black;
	background-repeat: no-repeat;  
	font-family: 'Bungee';
	font-size: 1.5em;
	color: white;
	margin: 0px;
	padding: 100px 0px;
}

.resultViewer {
	position: fixed;
  	top: 0px;
	margin: auto;
 	width: 99%;
 	padding: 10px;
	background: url("assets/pixel50p.svg");
 }

 .spacer {
 	margin-bottom: 10%;
 }

.buttonContainer {
	position: fixed;
 	bottom: 0px;
 	margin: auto;
 	width: 98%;
 	height: 10%;
 	padding: 10px;
	background: url("assets/pixel50p.svg");
}

button  {
 	width: 10%;
 	height: 100%;
 	border-style: none;
	font-family: 'Bungee';
	font-size: 1.2em;
	color: white;
	margin-right: 4%;
}

#boostBtn {
	background: url("assets/boostBtn.png");
	background-size: 4pc;
	background-repeat: no-repeat;  
	background-position: 50% 50%;	
}

#abilityBtn {
	background: url("assets/abilityBtn.png");
	background-size: 4pc;
	background-position: 50% 50%;	
	background-repeat: no-repeat;  
}

#proficiencyBtn {
	background: url("assets/proficiencyBtn.png");
	background-size: 5pc;
	background-position: 50% 50%;	
	background-repeat: no-repeat;  
}

#setbackBtn {
	background: url("assets/setbackBtn.png");
	background-size: 4pc;
	background-position: 50% 50%;	
	background-repeat: no-repeat;  
}

#difficultyBtn {
	background: url("assets/difficultyBtn.png");
	background-size: 4pc;
	background-position: 50% 50%;	
	background-repeat: no-repeat;  
}

#challengeBtn {
	background: url("assets/challengeBtn.png");
	background-size: 5pc;
	background-position: 50% 50%;	
	background-repeat: no-repeat;  
}

.resultBox {
	width: 180px;
	height: 180px;
	margin: 20px;
	padding: 20px 0 0 0;
	float: left;
  	animation-name: resultAnim;
	animation-duration: 1s;
}

.resultBlank {
	background: url("assets/blankImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultSuccess {
	background: url("assets/successImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultSuccsucc {
	background: url("assets/succsuccImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultSuccadv {
	background: url("assets/succadvImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultAdvantage {
	background: url("assets/advantageImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultAdvadv {
	background: url("assets/advadvImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultTriumph {
	background: url("assets/triumphImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultFailure {
	background: url("assets/failureImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}
.resultFailfail {
	background: url("assets/failfailImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}
.resultThreat {
	background: url("assets/threatImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultThretthret {
	background: url("assets/thretthretImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultFailthret {
	background: url("assets/failthretImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}

.resultDespair {
	background: url("assets/despairImg.png");
	background-size: 180px;	
	background-repeat: no-repeat;  
}


/* Animation code */
@keyframes resultAnim {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

@keyframes mainBackground {
    from {transform: scale(0.8);}
    to {transform: scale(1);}
}